// 基礎設定
$video-width: 640px;
$video-height: 480px;
$icon-size: 150px;

// 主 SCSS
.round {
    border-radius: 100%;
}

.icon,
.brandIcon {
    @extend .round;
    width: $icon-size;
    height: $icon-size;
    animation-name: blur;
    animation-duration: 0.5s;
}

.personalIcon {
    @extend .icon;
    box-shadow: 1px 3px 15px 3px;
}
@keyframes blur {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0%);
    }
}

.video {
    width: $video-width;
    height: $video-height;
}

@media screen and (max-width: 700px) {
    .video {
        width: $video-width / 2;
        height: $video-height / 2;
    }
}