.round, .personalIcon {
  border-radius: 100%; }

.personalIcon {
  width: 150px;
  height: 150px;
  animation-name: blur;
  animation-duration: 0.5s; }

@keyframes blur {
  from {
    filter: blur(10px); }
  to {
    filter: blur(0%); } }

.video {
  width: 640px;
  height: 480px; }

@media screen and (max-width: 700px) {
  .video {
    width: 320px;
    height: 240px; } }
