//-
    Navbar 項目。
    請不要隨意修改。
    TODO: i18n
-
    var navData = {
        home: {
            name: '首頁',
            page: '/',
            hide: false
        },
        announce: {
            name: '公告',
            page: '/announce',
            hide: false
        },
        about: {
            name: '關於',
            page: '/about',
            hide: false
        },
        play: {
            name: '播放器',
            page: '/player',
            hide: true
        },
        search: {
            name: '搜尋',
            page: '/search',
            hide: true
        },
        admin: {
            name: '管理',
            page: '/admin',
            hide: true
        }
    }
