//-
    Navbar 項目。
    請不要隨意修改。
-
    var navData = {
        home: {
            name: strings.navbar_home,
            page: '/',
            hide: false
        },
        announce: {
            name: strings.navbar_announce,
            page: '/announce',
            hide: !enableAnnounce
        },
        about: {
            name: strings.navbar_about,
            page: '/about',
            hide: false
        },
        play: {
            name: strings.navbar_play,
            page: '/player',
            hide: true
        },
        search: {
            name: strings.navbar_search,
            page: '/search',
            hide: true
        },
        admin: {
            name: strings.navbar_admin,
            page: '/admin',
            hide: true
        },
        options: {
            name: '組態設定',
            page: '/options',
            hide: true // 使用按鈕代替
        }
    }
