include includes/default.include.pug
doctype html

html
  head
    +head('影片')
  body
    +navbar
    
    .section
      .columns
        .column.is-3
          h2.title 影片
          h4.subtitle 選擇你想觀看的影片。
        .column